@model List<XSkills.sp_GetMessages_Result>

@helper RenderComment(List<XSkills.sp_GetMessages_Result> comments)
{
    foreach (var comment in comments)
    {
        comment.ImgUrl = comment.ImgUrl == null ? "/UploadedFiles/Images/profiles/User-blue-icon.png" : comment.ImgUrl;
<li class="comment" data-id="@comment.CommentID" >
    <div class="media">
        <!-- first comment -->
        <div class="media-heading">
            <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseOne-@comment.CommentID"
                    aria-expanded="false" aria-controls="collapseExample">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button><span class="label label-info">@comment.Username</span> - <span class="pubdate">posted @comment.CommentDate.ToString("dd-MM-yyyy HH:mm:ss")</span>
        </div>
        <div class="panel-collapse collapse in" id="collapseOne-@comment.CommentID">
            <div class="media-body">
                <div class="row">
                    <div class="col-md-1">
                        <div class="avatar">
                            <a href="javascript:void(0);">
                                <img src="@comment.ImgUrl" style="height:30px;width:30px;border-radius:50%;" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div data-id="@comment.CommentID" class="comment-body">
                            @*<header><a href="#" class="userlink">@comment.Username</a> - <span class="pubdate">posted @comment.CommentDate.ToString("dd-MM-yyyy HH:mm:ss")</span></header>*@
                            <p>
                                @comment.CommentText
                            </p>
                            <footer>
                                <a class="reply-link" href="@comment.CommentID">Reply</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <!-- comment-meta -->

            </div>
            @{
                var children = Model.Where(x => x.ParentId == comment.CommentID).OrderBy(x => x.CommentDate).ToList();
                if (children.Count() > 0)
                {
                    <ul data-parentid="@comment.CommentID" class="replies">
                        @RenderComment(children)
                    </ul>
                }
            }
        </div>
        <!-- comments -->
    </div>


    

</li>

    }

}

<div id="comment-section" class="row CommentSection">
    <div class="col-sm-12">
        <ul class="comments">
            @RenderComment(Model.Where(x => x.ParentId == 0).ToList())
        </ul>
    </div>

</div>






