<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .navbar-inverse {
            background-color: ghostwhite;
            /*background-image: -o-linear-gradient(top, #3c3c3c 0%, ghostwhite 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(ghostwhite));
            background-image: linear-gradient(to bottom, #3c3c3c 0%, ghostwhite 100%);*/
        }
            .navbar-inverse .navbar-nav > li > a {
                font-size:16px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" style="display:inline">
                    <img src="~/UploadedFiles/Images/xskill_logo.jpg" style="height:40px;width:40px;border-radius:50%;margin-top:-10px" />
                </div>
                @Html.ActionLink("CrossSkill", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "KnowledgeHub")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @*@if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Team Members", "About", "Home")</li>
                        <li>@Html.ActionLink("Knowledge Hub", "About", "Home")</li>
                    }*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:10px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
