@model XSkills.Models.RatingModel
@{
    ViewBag.Title = "Rate Us";
}
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
@*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">*@
@*<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">*@
<script src="~/Content/Rating/dist/starrr.js"></script>
<style type="text/css">

    img {
        height: 150px;
        width: 150px;
    }
</style>
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            @{Html.RenderAction("LoginHome", "Home", new { pagename = "Rate Us" });}
        </div>
        <div class="col-md-9">
            <div class="profile-content" id="MainContent">
                <div class="container col-md-12">
                    <div class="row">
                        <h3>Rate Us!</h3>
                    </div>
                    <br />
                    @using (Html.BeginForm("RateUs", "Home", FormMethod.Post, new { @Id = "WebGridForm" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("RateUs","We would love to hear your thoughts, comments or problems with anything so that we can improve!!",
                               htmlAttributes: new { @class = "control-label col-md-10" })
                            </div>
                        </div>
                        <hr />
                        <br />
                        <div class="row">
                            @Html.Label("Rating", "Click to rate", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class='starrr' id='star1'></div>
                                @Html.HiddenFor(model => model.RatingNo, new { @id = "Rating" })
                                @Html.ValidationMessageFor(model => model.RatingNo, "", new { @class = "text-danger" })
                                @*<span class='your-choice-was' style='display: none;'>
                                    Your rating was <span class='choice'></span>.
                                </span>*@
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @Html.Label("Feedback", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Feedback,  new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Feedback, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('#star1').starrr({
        change: function (e, value) {
            if (value) {
                $('#Rating').val(value);
            }
        }
    });
    
</script>